{% extends 'index.html' %}

{% block content %}

    <div class="card" style="margin-bottom: 20px">
        <div class="card-header">
            <h2>Қосымша жайлы</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Ақпарат
                    </h4>
                    <p class="card-text">
                        <b>Қосымшада қолданылған болжау үшін қолданылған модель:</b> MobileNetV2 </br> </br>
                        Бұл қосымша әр-түрлі дермотологиялық ауруларды болжау алгоритмін зерттеу тақырыбына жазылған дипломдық жұмысының қосымшасы. </br>

                        Менің жобам қолданушыға ыңғайлы веб-қосымшаны әзірлеу арқылы дерматологиялық аурулардың жіктелуін оңтайландыруға бағытталған. </br>

                        Жетілдірілген алгоритмдер мен машиналық оқыту әдістерін қолдана отырып, мен медицина мамандары мен жеке тұлғаларды дәл диагностикалау және емдеу ұсыныстары үшін кешенді құралмен қамтамасыз етуге тырысамын. </br>
                        Менің платформам әртүрлі тері жағдайларын ерте анықтауға және басқаруға көмектесетін қол жетімді ақпаратпен пайдаланушыларды кеңейтуге арналған.</br>
                        Инновациялар мен қолжетімділікке ұмтыла отырып, мен бүкіл әлем бойынша дерматологиялық денсаулықты жақсартуға үлес қосуға тырысамын.</br>

                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}